<!DOCTYPE html>
<link rel="stylesheet" href="/public/index.css"/>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录失败 </title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>
<div>
    <div class="img">
        <div style="text-align: center">
            <img src="https://s3a.pstatp.com/eesz/resource/open/images/check-3f8344aa.png"
                 style="width: 220px;height: 160px">
            <p style="color: darkslategrey; margin: 30px;white-space: nowrap;text-overflow: ellipsis"
            >{{err_info}}</p>
        </div>

    </div>
</div>
</div>
</body>
</html>
