<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>网页应用</title>
    <link rel="stylesheet" href="/public/index.css"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://lf1-cdn-tos.bytegoofy.com/goofy/ee/lark/h5jssdk/lark/js_sdk/h5-js-sdk-1.5.11.js"></script>
</head>
<body>
<div>
    <div class="img">
        <div id="img_div"
             class="img_div"
        ></div>
        <span class="text_hello"
        >Hello</span>
        <div
                id="hello_text_name"
                class="text_hello_name"
        ></div>
        <div
                id="hello_text_welcome"
                class="text_hello_welcome"
        ></div>
    </div>
    <div class="icon"><img src="../public/svg/icon.svg"/></div>
</div>
<script src="/public/index.js"></script>
</body>
</html>
